@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');


:root{
    /* paleta de colores */
    --colorFondo:#D8C37F;
    --colorEnfasis1:#A4AE20;
    --colorEnfasis2:#C57023;
    --colorEnfasis3:#7B361A;
    --colorText:#d9d09e85;
    --colorText2:#19160A;

    /* Fuentes */
    --textTitle:'Ysabeau SC', sans-serif;
    --textContent:'Quito', sans-serif;
}

*{margin:0 ;
 padding: 0;
 box-sizing: border-box;}


body{
    background-color: var(--colorFondo);
    width: 100;
    height: auto;
    overflow-x: hidden ;
}

